#root {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    padding: 2rem;
}

.dangerousHTML p {
    margin-top: 3px;
    margin-bottom: 3px;
}

.react-select-container .react-select__control {
    background-color: #242424;
    border-color: #fff;
    transition: none;
    width: 40%;
}

.react-select-container &:hover {
    border-color: #fff;
}

.react-select-container .react-select__menu {
    background-color: #242424;
    border: 1px solid #fff;
}

.react-select-container .react-select__option {
    background-color: #242424;
}

.react-select-container &:hover {
    background-color: #fff;
}


.react-select-container .react-select__indicator-separator {
    background-color: #242424;
}

.react-select-container .react-select__placeholder, .react-select__single-value, .react-select__input {
    color: #fff !important;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}